<!doctype html>
<html lang = "en">
<head>
    <title> <%= thread.title %> Thread</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href = "/thread.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
</head>
<body>
    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <aside class = "stage-left"></aside>
        <section class = "stage-center">
                <form action = "/thread/<%= thread.title %>/post" method = "post" class = "post-form"> 
                    <bold><%= user.local.username %></bold> <br />
                    <input type = "text" name = "post" class = "input input-post" 
                        placeholder = "Write a post..." required>
                </form> 
                 <ul class = "thread"> 
                    <% thread.post.reverse().forEach(function(post) { %>
                        <li class = "post">
                            <span class = "username"><bold><%= post.user.local.username %></bold></span> 
                            <span class = "date"><%= post.created.getMonth() + 1 %>/<%= 
                                post.created.getDate() %>/<%= 
                                post.created.getFullYear() %></span> <br />
                            <span class = "content"><%= post.content %> </span> <br />

                            <% if(post.comment.length === 0) { %>
                                <button class = "js-comment-display">comment</button>
                            <% } %>
                            <% if(post.comment.length === 1) { %>
                                <button class = "js-comment-display">1 comment</button>
                            <% } %>
                            <% if(post.comment.length > 1) { %>
                                <button class = "js-comment-display"><%= post.comment.length %> comments</button>
                            <% } %>

                            <div class = "comment-section hidden">
                                <% if(post.comment.length > 0) { %>
                                <ul class = "comment-list"> 
                                    <% post.comment.forEach(function(comment) { %>
                                        <li class = "comment">
                                            <span class = "username"><%= comment.user.local.username %></span> 
                                            <span class = "date"><%= comment.created.getMonth() + 1 %>/<%=
                                            comment.created.getDate() %>/<%=
                                            comment.created.getFullYear() %> </span> <br />
                                            <span class = "content"><%= comment.content %></span> <br />
                                            <% if(comment.user.local.username == user.local.username) { %>
                                            <div class = "override-methods"> 
                                                <form class = "comment-edit-form hidden" method = "POST" 
                                                    action="/thread/<%= thread.title %>/comment?_method=PUT">
                                                    <input type = "hidden" value = "<%= post._id %>" name = "post_id">
                                                    <input type = "hidden" value = "<%= comment._id %>" name = "comment_id">
                                                    <input type = "text" name = "content" class = "input" placeholder = "Edit Comment...">
                                                </form>                                               
                                                <button class = "js-comment-edit">Edit</button>                                                 
                                                <form method="POST" action="/thread/<%= thread.title %>/comment?_method=DELETE">
                                                    <input type = "hidden" value = "<%= post._id %>" name = "post_id">
                                                    <input type = "hidden" value = "<%= comment._id %>" name = "comment_id">
                                                    <button type="submit">Delete</button>
                                                </form>
                                            </div>
                                            <% }; %>
                                        </li>
                                    <% }); %>
                                </ul> 
                                <% } %>                        
                                <form action = "/thread/<%= thread.title %>/comment" method = "post" class = "comment-form"> 
                                    <input type = "text" name = "comment" class = "input input-comment" 
                                        placeholder = "Write a comment..." required>
                                    <input type = "hidden" value = "<%= post._id %>" name = "post_id">
                                </form>
                            </div> 
                        </li>
                    <% }); %>
                </ul>
        </section>
        <aside class = "stage-right"></aside>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type ="text/javascript" src ="/thread.js"></script>
    </main>
    

</body>
</html>

 